h1 {
  font-weight: bold;
  font-size: 120%;
  display: block;
  text-align: center; }

h2 {
  background-color: #c8c8c8;
  padding: 0.25em 0.5em;
  margin: 0.5em 0 0; }

#header, #footer {
  background-color: #1b1b1b; }
  #header .container, #footer .container {
    background-color: #1b1b1b; }

#header {
  padding-top: 2em; }

#main-content {
  padding: 2em 0; }

#footer {
  padding: 1.5em 0;
  text-align: center;
  font-size: 108%;
  font-weight: bold;
  color: white; }

#footer .container {
  font-variant: small-caps; }

.tabs {
  margin-bottom: 0; }
  .tabs a {
    padding-right: 1em;
    min-width: 6em;
    text-align: center;
    font-variant: small-caps; }

fieldset {
  border: 1px solid black; }
  fieldset legend {
    padding: 0 1em; }
  fieldset dl {
    margin: 0; }

.team-list h3 {
  font-size: 108%;
  margin: 2em 0 0;
  font-weight: bold;
  display: block;
  background: #ccc;
  padding: 0.5em;
  text-align: center; }
.team-list ul {
  list-style: none;
  padding: 0; }
  .team-list ul li {
    padding: 0.25em 0; }

.login a {
  color: white;
  font-weight: bold;
  text-decoration: none; }
