- content_for :additional_head do
  - if Rails.env == 'production'
    = javascript_include_tag 'sencha-touch.js', 'mobile.js'
  - else
    = javascript_include_tag 'sencha-touch-debug.js', 'mobile.js'

